* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#primaryColor {
    color: orange;
}

.bodyContainer {


    background-image: linear-gradient(180.00deg, black, rgba(0, 0, 0, 0.815) 100%);
    ;

}

.mainContainer {
    max-width: 1200px;
    margin: 0 auto;


}

/* navbar start here */
.navContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;

}

.title {
    font-size: 3rem;
}

.navBars {
    display: flex;
    border: 1px solid gray;
    padding-right: 10px;
    border-radius: 20px;
    gap: 10px;

}

.navBar {
    border: none;
    font-size: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(17, 17, 17);
}

#navBar1 {
    background-color: orange;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 6px;



}

.hamBurger {
    display: none;
}

/* navbar ends here */



/* banner part starts from here */
.bannerContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.mainTitle {
    font-size: 5rem;
    padding-top: 1.5rem;
}

#shapeSpan {

    font-family: cursive;
    font-style: italic;
    font-weight: 100;

}

.bannerDescription {
    padding: 1.5rem 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 24px;
}

.btnWrapper {
    display: flex;
    gap: 1rem;
}

.btnJoinClub {
    font-size: 1.5rem;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 20px;
}

.btnDownload {
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;
}

.bannerImageContainer {
    position: relative;
}

.btnWorkOutVideos {
    background-color: rgba(128, 128, 128, 0.144);
    padding: 10px 10px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    left: 65%;
    backdrop-filter: blur(10px);

}

.workoutNumbers {
    font-size: 3rem;
}

.workOutTitle,
.videoTitle {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 5px;
}

.btnVideos {
    background-color: rgba(128, 128, 128, 0.144);
    padding: 10px 10px;
    text-align: center;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    bottom: 15%;
    right: 80%;
    backdrop-filter: blur(10px);


}

.circle {
    height: 40px;
    width: 40px;
    background-color: orange;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 18px;
}

.circleAdjust {
    display: flex;
    gap: 10px;
    align-items: center;
}

.videosNumber {
    font-size: 3rem;
}

/* banner part Ends here */

/* Change Habit section start from here */
.changeHabitContainer {
    text-align: center;
    padding-top: 80px;
}

.habitTitle {
    font-size: 3rem;
}

.habitDescription {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 15px;
    padding-bottom: 40px;
    font-size: 1.2rem;
}

.habitImageContainer {
    display: flex;
    gap: 40px;
}

.habitTypes {
    text-align: center;

}


.habitImage {
    border-radius: 50%;
}

.habitTypesTitle {
    padding: 15px 0;
    font-size: 24px;
}

.habitTypesDes {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 24px;
}

/* Change Habit section Ends here*/

/* Running an extra mile start here */
.runningContainer {
    display: flex;
    margin-top: 80px;
    padding: 35px;
    justify-content: space-between;
    gap: 200px;
    background-color: rgba(128, 128, 128, 0.582);
    border-radius: 20px;


}

.runningTitle {
    font-size: 3rem;
}

.runningDes {
    color: rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    line-height: 24px;
    font-size: 18px
}

.btnJoin {
    background-color: orange;
    width: 150px;
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.runningImage {
    border-radius: 15px;
    height: 400px;
}

/* Running an extra mile Ends here */